.nav {
    position: absolute;
    top: 20px;
    right: 40px;
    display: flex;
    gap: 20px;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.nav span a, .language-switch {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.nav span a, .language-switch {
    color: #FF9D23;
    text-decoration: none;
    font-size: 18px;
}

.nav span a:hover, .language-switch:hover {
    color: #E5D0AC;
}

.nav span a:active, .language-switch:active {
    color: #E5D0AC;
    transform: scale(0.9);
}

.footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}


.footer {
        background-color: #FFFDF0;
    
    color: white;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info, .social-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.contact-item img, .social-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.footer-center {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}