*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
    margin: 0;
    height: 100%; 
}
/* Header Section */
.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #222;
    color: white;
    padding: 18px;
    position: relative;
    width: 100%;
    white-space: nowrap;
    margin-top: 0px;
    box-sizing: border-box;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 300px;
    font-size: 15px;
margin-top: 10px;
}




.details {
    display: flex;
    gap: 50px;
}

.details p {
    margin: 5px 0;
}

.detail-title1, .detail-title2{
    font-size:25px;
    margin-left:-90px;
    margin-right: 60px;
    font-weight: bold;
}
/* For labels */
.detail-label {
    font-weight: bold;
    font-size: 16px;
    margin-top: 100px;

}

/* For answers */
.detail-answer {
    font-size:16px ;
    font-weight: normal;
    color: rgba(151, 150, 150, 0.696);
    margin-top: 10px;
    display: block;
}

.edit-btn1 {
    position: absolute;
    cursor: pointer;
    right: 20px;
     transition: transform 0.3s ease-in-out; /* Smooth transition for scaling */
}

.edit-btn1:hover .tooltip {
    opacity: 1;
}


/* Bio & Bookings Row */
.content {
    display: flex;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
    margin-bottom:80px;
}

.bio {
    font-family: 'Playfair Display'; 
    background: #fde5b7;
    color: #d48d00;
    padding: 15px;
    border-radius: 40px;
    width: 19%; /* 1/4 of the row */
    text-align: center;
    margin-top:-50px;
    margin-left:25px;
    font-size: 0.9em;
}



.bio h3{
    margin-top:70px;
    margin-bottom: 20px;
   color:#d48d00;
}

.bookings {
    width: 75%; /* 3/4 of the row */
    background: white;
    padding: 20px;
    border-radius: 50px;
    position: relative;
    padding-bottom: 180px;
    min-height: 210px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Soft shadow */
    box-sizing: border-box;
    margin-right: 13px;
}

.bookings h3{
    font-size:17px;
    color:black;
    margin-left:10px;

}

.bookings a {
    text-decoration: none;
    color: inherit; /* Keeps it the same as surrounding text */
    display: inline-block;
}

.bookings a:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out;
}

.bookings a:visited,
.bookings a:active {
    text-decoration: none;
    color: inherit;
}

.booking-image{
margin-top:-130px;
margin-left:70px;
width:730px;
position: absolute;

}

.event-photo1{
width: 70px;
height: 70px;
background: darkred;
border-radius: 50%;
position: absolute;
top: 46px; 
left: 193px; 
background-image: url("workshops/workshop2.jpeg"); /* Set the image */
background-position: bottom center; 
background-size: 90%; 
transition: transform 0.3s ease-in-out; /* Smooth transition for scaling */

}

.event-photo2{
    width: 70px;
    height: 70px;
    background: darkred;
    border-radius: 50%;
    position: absolute;
    top: 175px; 
    left: 323px; 
    background-image: url("workshops/workshop6.jpeg"); /* Set the image */
    background-position: bottom center; 
    background-size: 100%; 
    transition: transform 0.3s ease-in-out; /* Smooth transition for scaling */

    }

   
    .event-photo3{
        width: 70px;
        height: 70px;
        background: darkred;
        border-radius: 50%;
        position: absolute;
        top: 46px;
        left: 453px; 
        background-image: url("workshops/Bento-торт Мастер-Класс.jpeg"); /* Set the image */
        background-position:  center; 
        background-size: 100%; 
        transition: transform 0.3s ease-in-out; /* Smooth transition for scaling */

        }

        .event-photo4{
            width: 70px;
            height: 70px;
            background: darkred;
            border-radius: 50%;
            position: absolute;
            top: 175px; 
            left: 585px;
            background-image: url("workshops/image4.jpg"); /* Set the image */
            background-position: bottom center; 
            background-size: 178%; 
            transition: transform 0.3s ease-in-out; /* Smooth transition for scaling */
 
            }

            .event-photo5{
                width: 70px;
                height: 70px;
                background: darkred;
                border-radius: 50%;
                position: absolute;
                top: 46px;
                left: 713px; 
                background-image: url("workshops/image1.jpg"); /* Set the image */
                background-position: -60%;
                background-position: bottom center; 
                background-size: 180%;
                transition: transform 0.3s ease-in-out; /* Smooth transition for scaling */
 
                }
                
                .event-photo1:hover,.event-photo2:hover, .event-photo3:hover ,.event-photo4:hover ,.event-photo5:hover{
                    transform: scale(1.1);
                }


                
.event1{
    color:black;
    position: absolute;
top: 46px; 
left: 270px;
} 

.event2{
    color:black;
    position: absolute;
bottom: 25px;
left: 400px;
}

.event3{
    color:black;
    position: absolute;
top: 46px; 
left: 530px;
} 

.event4{
    color:black;
    position: absolute;
bottom: 25px;
left: 662px;
}

.event5{
    color:black;
    position: absolute;
top: 46px; 
left: 790px;
} 

    
.event1 p , .event2 p , .event3 p , .event4 p, .event5 p{
    font-size:10px;
    letter-spacing:2px;
}


/* Experiences & Wishlist Row */
.bottom-section {
    display: flex;
     flex-direction: column;
    margin-top: 10px;
    gap: 20px;
    box-sizing: border-box; 
}

.experiences {
    width: 100%; 
    padding: 10px;
    border-radius: 10px;
    margin-left:23px;
    margin-right: 20px;
    gap:-10px;
    box-sizing: border-box;
}


.experiences h3{
    font-size:20px;
 color: black;
}

/* Styling for the button */
.add-post-btn2 {
    border: none;
    cursor: pointer;
    position: relative;
    padding: 5px;
    width:35px; /* Set width of button to make it square */
    height: 35px; /* Set height of button to make it square */
  margin-left: 30px;
  
}

/* Styling for the button image */
.add-post-btn2 img {
    width: 27px; /* Adjust the size of the button */
    height: 27px;
    transition: transform 0.3s ease-in-out;
}

/* Hover effect to slightly enlarge the image */
.add-post-btn2:hover img {
    transform: scale(1);
}


.tooltip {
    position: absolute;
    bottom: -30px; /* Adjust the position */
    left: 50%; /* Position it horizontally in the middle */
    transform: translateX(-50%);
   background-color: black;
   color: white;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}


/* Show tooltip on hover */
.add-post-btn2:hover .tooltip {
    opacity: 1;
}


.experience-cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;;
    margin-bottom:100px;
    width:90%;
    height: 100%;
    gap: 3em;
    scroll-behavior: smooth;
    overflow-x: auto;  /* Enable horizontal scrolling */
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    margin-left: 55px;  /* Optional: space from the left side */
    padding-bottom: 2em; 
padding-top: 2em;}

.experience-cards::-webkit-scrollbar {
    display: none; /* Hide scrollbar  */
}  
.user-circle1{
    border-radius: 50%;
    background: grey;
    width: 27px;
    height: 27px;
    position:absolute;
  margin-left:-2px;  
  background-image: url("workshops/profile-pic.png"); /* Set the image */
  background-size: cover; /* Ensure it covers the circle */
  background-position: center; /* Center the image */
  background-size: 99%; 
}

.user-circle2{
    border-radius: 50%;
    background: grey;
    width: 27px;
    height: 27px;
    position:absolute;
  margin-left:-2px; 
  background-image: url("workshops/profile-pic.png"); /* Set the image */
  background-size: cover; /* Ensure it covers the circle */
  background-position: center; /* Center the image */
  background-size: 99%;   
}
.user-circle3{
    border-radius: 50%;
    background: grey;
    width: 27px;
    height: 27px;
    position:absolute;
  margin-left:-2px; 
  background-image: url("workshops/profile-pic.png"); /* Set the image */
  background-size: cover; /* Ensure it covers the circle */
  background-position: center; /* Center the image */
  background-size: 99%;   
}
.user-circle4{
    border-radius: 50%;
    background: grey;
    width: 27px;
    height: 27px;
    position:absolute;
  margin-left:-2px;
  background-image: url("workshops/profile-pic.png"); /* Set the image */
  background-size: cover; /* Ensure it covers the circle */
  background-position: center; /* Center the image */
  background-size: 99%;    
}




.card p strong{
    margin-left:35px;
    color: black;
}

.card {
    flex-shrink: 0;
    flex-grow: 1;
    width: 25%; /* Adjust for responsiveness */
    background: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    margin: 0;
    height: auto;
    scroll-snap-align: start;
    box-sizing: border-box;
}

.card .content {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis; /* For long text truncation if necessary */
    word-wrap: break-word; /* Ensure long words don't overflow */
}

.image-placeholder1{
    background-image: url("workshops/post1.jpeg"); /* Set the image */
    background-position: -60%;
    background-position:  center; 
    background-size: 100%; 
    width: 100%;
    height: 150px;
    border-radius: 20px;
}

.image-placeholder2{
    background-image: url("workshops/post2.jpeg"); /* Set the image */
    background-position: -60%;
    background-position:  center; 
    background-size: 100%; 
    width: 100%;
    height: 150px;
    border-radius: 20px;
}

.image-placeholder3{
    background-image: url("workshops/post3.jpeg"); /* Set the image */
    background-position: -60%;
    background-position:  center; 
    background-size: 100%; 
    width: 100%;
    height: 150px;
    border-radius: 20px;
}


.image-placeholder4{
    background-image: url("workshops/post4.jpeg"); /* Set the image */
    background-position: -60%;
    background-position: bottom center; 
    background-size: 100%; 
    width: 100%;
    height: 150px;
    border-radius: 20px;
}
.image-placeholder5{
    background-image: url("workshops/Cozy Up This Winter with DIY Scented Candles! 🕯️🌿.jpeg");
    background-position: -60%;
    background-position:  center; 
    background-size: 100%; 
    width: 100%;
    height: 150px;
    border-radius: 20px;
}
.image-placeholder6{
    background-image:url("workshops/Madriguera Workshop-Face Collection.jpeg");
    background-position: -60%;
    background-position:   bottom center; 
    background-size: 100%; 
    width: 100%;
    height: 150px;
    border-radius: 20px;
}


.card-content {
    margin-top: 15px;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.post-name{
margin-top:10px;
color:darkred;
letter-spacing: 2px;
font-size:13px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile i {
    font-size: 24px;
    color: #555;
}

.experience-text {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}

.post-btn {
    display: flex;
   width:100%;
   gap: 50px;
   justify-content: space-between;
   margin-top: 10px;
}

.edit-btn , .delete-btn{
    background: none;
    border: none;
    padding: 2px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Smooth transition for scaling */
   outline:none;
   position: relative;
}

.delete-btn{
margin-right:0px;
}

.delete-btn:hover .tooltip , .edit-btn:hover .tooltip{
    opacity: 1;
}
button img {
    width: 20px;  /* Adjust the size of the image */
    height: 20px; /* Adjust the size of the image */
}


.view-all-btn {
    background-color: rgba(0,0,0, 0.8); /* Transparent gray */
    color: white;
    border: 2px solid transparent;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 130px; 
    height: 40px;
    position: relative;
    bottom: 440px;
     left:45%;
}

.view-all-btn:hover .tooltip {
    opacity: 1;
}
.view-all-btn:hover {
    color: #ff9800; /* Orange text */
    background-color: rgba(23, 22, 22, 0.815); 
    transform: scale(1.02);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.view-all-btn:active {
    transform: scale(1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

/* wihslist*/

.wishlist {
    width: 95%; /* Take 80% of the width */
    background: #fde5b7;
    color: #d48d00;
    padding: 10px;
    border-radius: 25px;
    margin: 40px auto; /* Center horizontally and add margin */
    display: flex;
    align-items: center; /* Align items at the center */
    justify-content: flex-start; /* Align items from the left */
    flex-direction: row; /* Arrange children horizontally */
    flex-wrap: nowrap; /* Prevent wrapping */
    height: 60%; /* Fixed height */
    box-sizing: border-box;
    margin-bottom: 40px;
    overflow-x: hidden;
}


.wishlist-items {
    display: flex;
    flex-direction: row; /* Make items horizontal */
    gap: 10px; /* Space between items */
    height: 100%; /* Prevent exceeding the container */
    width: 100%; /* Ensure it takes full width */
    overflow-y: hidden; /* Prevent vertical scrolling */
    overflow-x: auto;  /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory;
}


/* Scrollbar appearance for wishlist items container */
.wishlist-items::-webkit-scrollbar {
    display: none; 
}



.wishlist-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%; /* Width for each wishlist item */
    height: 90%;
    color: black;
    background: #FFFDF0;
    margin-left: 10px;
}


.wishlist-img img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 8px;
}

.workshop-name {
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
}

.price-section {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 0.2em;
}

.price {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
}

.currency-icon {
    width: 16px;
    height: 16px;
}

.wishlist-actions {
    display: flex;
    justify-content: space-between; /* Book Now to left, star to right */
    margin-top: 5px;
    margin-left: 13px;
    gap: 43px;
}

.book-now {
    background-color: rgba(0, 0, 0, 0.8); /* Transparent gray */
    color: white;
    border: 2px solid transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 8px;
    height: 20px;
    width: 80px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
}

.book-now:hover {
    color: #ff9800; /* Orange text */
    background-color: rgba(23, 22, 22, 0.815); 
    transform: scale(1.02);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.book-now:active, .wishlist-star:active {
    transform: scale(1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.wishlist-star {
    width: 20px; /* Button width */
    height: 20px; /* Button height */
    cursor: pointer;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; 
    background-color: transparent; /* Transparent background */
    border: none;
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

.wishlist-star img {
    width: 25px; /* Set the size of the image */
    height: 25px; /* Set the size of the image */
}

.wishlist-star:hover .tooltip {
    opacity: 1;
    left: 10px;
}


.wishlist-divider {
    border: 1.5px solid orange;
    margin: 5px 0;
    width: 100px;
    margin-right: 20px;
}

.wishlist-divider1 {
    width: 1px; /* Change width to make it vertical */
    height: 100%; /* Take the full height of the parent container */
    border: 1.5px solid orange;
    margin: 0 auto; /* Center the divider vertically */
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

    .wishlist-img {
        opacity: 0;
        transition: opacity 0.6s ease;
    }
    
    .wishlist-img.loaded {
        opacity: 1;
    }
   
    
    